.catalog {
    position: relative;
    @include adaptiv-value('padding-top', 72, 45, 1);
    @include adaptiv-value('padding-bottom', 141, 30, 1);
    &__body {  
        display: flex;
        @include adaptiv-value('gap', 138, 0, 1);
    }
    &__content {
        width: 100%;
    }
}

.filters-catalog {
    @media (min-width: $md2+px)  {
        flex: 0 0 toRem(170);
    }
    @media (max-width: $md2+px)  {
        position: absolute;
    }
    &__title {
        display: none;
        @media (max-width: $md2+px)  {
            display: block;
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
    }
    &__items {
        @media (max-width: $md2+px)  {
            position: fixed;
            bottom: -100%;
            left: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            background: #fff;
            padding: toRem(54) 0 toRem(114) toRem(24);
            border-radius: 24px 24px 0 0;
            transition: bottom 0.3s ease;
            z-index: 10;
            &::before {
                content: ''; 
                position: absolute;
                top: toRem(12);
                left: 50%;
                width: 28px;
                height: 4px;
                background: #1f2020;
                opacity: 0.6;
                border-radius: 40px;
                transform: translateX(-50%);
            }   
        }
        &.active {
            bottom: 0;
        }
        
    }
    &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        
    }

    &__checkbox {
        display: none;
    }

    &__custom {
        position: relative;
        width: toRem(36);
        height: toRem(22);
        border-radius: 40px;
        background-color: $light;
        transition: background 0.3s ease;
        margin-right: 10px;
        &::after {
            content: '';
            width: toRem(8);
            height: toRem(8);
            border-radius: 100%;
            background: #1f2020;
            position: absolute;
            top: 50%;
            left: toRem(7);
            transform: translateY(-50%);
            transition: left 0.3s ease;
        }
    }
    &__label {
        font-size: 12px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }

    .filters-catalog__checkbox:checked + .filters-catalog__custom {
        background-color: $green;
    }

    .filters-catalog__checkbox:checked + .filters-catalog__custom::after {
        left: 22px;
    }
}

.catalog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiv-value('margin-bottom', 44, 24, 1);
    @media (max-width: $md2+px)  {
        justify-content: flex-end;
    }
    &__quantity {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        @media (max-width: $md2+px)  {
            display: none;
        }
    }
    &__filter {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    .sort-dropdown {
       position: relative;
        display: inline-block;
        cursor: pointer; 
        z-index: 5;
        &__button {
            display: flex;
            align-items: center;
            gap: 4px;
            background: none;
        }
        &__icon {
            width: 10px;
            height: 10px;
            transition: transform 0.3s;
        }
        &__label {
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
        &__list {
            display: none;
            position: absolute;
            top: toRem(-3);
            right: toRem(-6);
            width: 280px;
            background: #fff;
            z-index: 10;
            li {
                padding: toRem(16) toRem(24);
                cursor: pointer;
                transition: background 0.2s;
                &.active {
                    background-color: $green;
                }
            }
        }
        &.active .sort-dropdown__icon {
            transform: rotate(180deg);
        }
        &.active .sort-dropdown__list {
            display: block;
        }

    }
}



.products-catalog {
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        column-gap: toRem(24);
        row-gap: toRem(16);
        @media (min-width: 1300px)  {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
        @media (max-width: $md3+px)  {
            column-gap: toRem(15);
            row-gap: toRem(24);
            grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
        }
    }
    .product {
        position: relative;
        padding-bottom: toRem(15);
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
        @media (hover: hover) {
            &:hover {
                .product__btn {
                    opacity: 1;
                }
            }
        }
        @media (max-width: $md2+px)  {
            padding-bottom: toRem(34);
        }
        &__link {
            z-index: 3;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &__image {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
            margin-bottom: toRem(16);
        }
        &__title {
            font-weight: 300;
            line-height: 112%;
            letter-spacing: 0.02em;
            margin-bottom: toRem(15);
        }
        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__price {
            font-weight: 600;
        }
        &__btn {
            border-radius: 6px;
            width: 40px;
            height: 24px;
            background: #f2f2f2;
            z-index: 10;
            @media (min-width: $md2+px)  {
                border-radius: 8px;
                width: toRem(80);
                height: toRem(32);
                background: $green;
                opacity: 0;
                z-index: 20;
            }
            &:active {
                background: #3f6854;
            }
        }
    }
}