// Подключение миксины =================================================================================================
@import 'base/mixins';
// Подключение миксины =================================================================================================
	
// Подключение шрифтов =================================================================================================
@import 'fonts';
// Подключение шрифтов =================================================================================================

// Иконочные шрифты ====================================================================================================
//@import 'base/icons';
// Иконочные шрифты ====================================================================================================

// Импорты =============================================================================================================
@import 'base/ibg';
@import 'base/colors';
// Импорты =============================================================================================================

// Переменные ==========================================================================================================
$minWidth: 320px;
$maxWidth: 1822;
$maxWidthContainer: 1822;
$md1: $maxWidthContainer;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$font-size: 16;
// Переменные ==========================================================================================================

// Обнуление, общие параметры ==========================================================================================
@import 'base/null';
@import 'base/ui';

body {
	font-family: 'Inter';
	font-size: $font-size + px;
	line-height: 100%;
	font-weight: 400;
	color: $mainColorText;
}
// Обнуление, общие параметры ==========================================================================================

// Оболочка ============================================================================================================
.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

// Основная сетка ======================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 15px;
	@media (max-width: $md2+px)  {
		padding: 0 24px;
	}
}

.page {
	flex: 1 1 auto;
}

.cover {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	transition: 0.5s all ease;
	z-index: 10;
	&.active {
		display: block;
	}
}

// Подключаем блоки сайта =================================================================================================
@import 'blocks/header';
@import 'blocks/breadcrumbs';
@import 'blocks/mainscreen';
@import 'blocks/catalog';
@import 'blocks/footer';

// Подключаем блоки сайта =================================================================================================
    
    
//background: url("@img/profile.jpg") 0 0 no-repeat